export GITHUB_TOKEN="" # Your token (https://github.com/settings/tokens)
GITHUB_USER="" # Your Github Username
GIT_REPO="Flux" # Github Repo Name
GIT_BRANCH="master"
GIT_DIR="./clusters/localcluster/"
FLUX_VERSION="v0.30.2" # flux2 version: https://github.com/fluxcd/flux2/releases